<section data-ng-controller="DashboardController">
    <div>
        <h1>Dashboard</h1>
        <div class="row">
            <div class="col-md-6">
                <p class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="openDatepicker($event, 'since')">From:</button>
                    </span>
                    <input name="since" type="text" class="form-control" datepicker-popup="dd/MM/yyyy" ng-model="since"
                           is-open="sinceOpened" datepicker-options="dateOptions" ng-required="true" close-text="Close" ng-change="reloadStats()" />
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="openDatepicker($event, 'since')"><i class="glyphicon glyphicon-calendar"></i></button>
                  </span>
                </p>
            </div>
            <div class="col-md-6">
                <p class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="openDatepicker($event, 'until')">To:</button>
                    </span>
                    <input name="until" type="text" class="form-control" datepicker-popup="dd/MM/yyyy" ng-model="until"
                           is-open="untilOpened" min-date="{{since}}" datepicker-options="dateOptions" ng-required="true" close-text="Close" ng-change="reloadStats()" />
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="openDatepicker($event, 'until')"><i class="glyphicon glyphicon-calendar"></i></button>
                  </span>
                </p>
            </div>
        </div>

        <div class="clearfix"></div>

        <highchart id="chart1" config="chartConfig" style="height:600px"></highchart>

        <br>

        <div data-ng-repeat="campaign in campaigns" class="list-group-item">
            <a data-ng-href="#!/campaigns/{{campaign._id}}">
                <h4 class="list-group-item-heading" data-ng-bind="campaign.name"></h4>
            </a>
            <table class="table">
                <tr>
                    <th style="width:70%">Ad</th>
                    <th style="width:10%">Views</th>
                    <th style="width:10%">Clicks</th>
                    <th style="width:10%" title="Clicks/Views percent">CTR</th>
                </tr>
                <tr data-ng-repeat="ad in campaign.ads">
                    <td><a data-ng-href="#!/ads/{{ad._id}}">{{ad.name}}</a></td>
                    <td>{{ad.stats.views | number:0 }}</td>
                    <td>{{ad.stats.clicks | number:0}}</td>
                    <td>{{(ad.stats.clicks/ad.stats.views)*100 | number:2}}%</td>
                </tr>
            </table>
        </div>

    </div>
    <br>
    <br>
</section>
