<section data-ng-controller="HomeController">
	<div class="jumbotron text-center">
		<div class="row">
			<p class="lead">
				Welcome to ide<strong>ads</strong>!
			</p>
		</div>
		<div class="row">
			<p>
				<a class="btn btn-primary btn-lg" href="/#!/signin">Login</a>
			</p>
		</div>
	</div>
	<div>
		<h2>ide<strong>ads</strong> is a simple and fast ad network</h2>
		<p>Create ad placements in a few seconds and add them to your website with a couple lines of code.</p>
		<p>Configure campaigns and attach ads to them easily. Choose what placements should display the campaign and ide<strong>ads</strong> will match ads with places available when sizes are equal.</p>
		<p>The dashboard shows in real time the number of ads displayed, clics and CTR (<em>click-through rate</em>).</p>
	</div>
	<div class="row">
		<div class="col-md-3">
			<h2>
				<span class="glyphicon glyphicon-fire" aria-hidden="true"></span>
				Fast
			</h2>
			<p>Asynchronous ad loading and a blazing fast dashboard, cause time is money.</p>
		</div>
		<div class="col-md-3">
			<h2>
				<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
				Easy
			</h2>
			<p>Ad placements, campaigns and ads. That's all you have to care about.</p>
		</div>
		<div class="col-md-3">
			<h2>
				<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
				Powerful
			</h2>
			<p>If you need custom classes or code in your ads you can just write it, no limits.</p>
		</div>
		<div class="col-md-3">
			<h2>
				<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
				Modern
			</h2>
			<p>Built with modern technologies: NodeJS, Angular and MongoDB.</p>
		</div>
	</div>
</section>
