<section data-ng-controller="PlacesController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="place.name"></h1>
	</div>
	<div class="pull-right" data-ng-show="authentication.user.roles.indexOf('admin') != -1">
		<a class="btn btn-primary" href="/#!/places/{{place._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
    <div>
        Width:
        <span class="badge" data-ng-bind="place.width"></span>
        <br>
        Height:
        <span class="badge" data-ng-bind="place.height"></span>
    </div>
	<small>
		<em class="text-muted">
			Created on
			<span data-ng-bind="place.created | date:'mediumDate'"></span>
		</em>
	</small>
    <br>
    <h4>Header code:</h4>
    <pre>
&lt;script async src="http://ideads.com.es/ideads.js"&gt;&lt;/script&gt;</pre>
    <h4>Place code:</h4>
    <pre>
&lt;div class="ideads" id="ideads-{{place._id}}"&gt;&lt;/div&gt;</pre>
</section>
