<section data-ng-controller="AdsController" data-ng-init="findOne()">
	<div class="page-header">
		<h1>Edit Ad</h1>
	</div>
	<div class="col-md-12">
		<form class="form-horizontal" data-ng-submit="update()" novalidate>
			<fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="ad.name" id="name" class="form-control" placeholder="Name" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Campaign</label>
                    <div class="controls">
                        <section data-ng-controller="CampaignsController" data-ng-init="find()">
                            <select data-ng-model="$parent.ad.campaign" ng-options="campaign.name for campaign in campaigns track by campaign._id">
                            </select>
                        </section>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Image</label>
                    <div ng-show="ad.image != undefined && ad.image != ''"><img src="{{ad.image}}" /></div>
                    <div class="controls">
                        <input type="file" on-read-file="setImageData($fileContent)" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="content">Content</label>
                    <div class="controls">
                        <textarea data-ng-model="ad.content" id="content" class="form-control" cols="30" rows="10" placeholder="Leave it blank if you just want to show the image"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="link">Link</label>
                    <div class="controls">
                        <input type="text" data-ng-model="ad.link" id="link" class="form-control" placeholder="Link" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="width">Width</label>
                    <div class="controls">
                        <input type="text" data-ng-model="ad.width" id="width" class="form-control" placeholder="Width" required>
                    </div>
                    <label class="control-label" for="height">Height</label>
                    <div class="controls">
                        <input type="text" data-ng-model="ad.height" id="height" class="form-control" placeholder="Height" required>
                    </div>
                </div>
                <div class="form-group">
                    <input type="checkbox" data-ng-model="ad.enabled"> Enabled
                </div>

				<div class="form-group">
					<input type="submit" value="Update" class="btn btn-default">
				</div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
</section>
