<section data-ng-controller="AdsController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="ad.title"></h1>
	</div>
	<div class="pull-right" data-ng-show="authentication.user.roles.indexOf('admin') != -1">
		<a class="btn btn-primary" href="/#!/ads/{{ad._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Created on
			<span data-ng-bind="ad.created | date:'mediumDate'"></span>
		</em>
	</small>
    <h4 data-ng-bind="ad.name"></h4>
    <p>Campaign: <span class="list-group-item-text" data-ng-bind="ad.campaign.name"></span></p>
    <div ng-show="ad.image != undefined && ad.image != ''"><img src="{{ad.image}}" /></div>
    <div>
        Width:
        <span class="badge" data-ng-bind="ad.width"></span>
        <br>
        Height:
        <span class="badge" data-ng-bind="ad.height"></span>
    </div>
    <br>
    <input type="checkbox" data-ng-model="ad.enabled" disabled> Enabled
</section>
